mixin slide-team(src, username, status, text)
	.team__img-wrap
		img.team__img(src=src alt=username)
	span.team__username= username
	span.team__status= status
	p.team__text= text

mixin img-clients(name, href)
	a(href=href target="_blank")
		img(src='static/img/content/'+name+'.png' alt=name)
		

mixin img-portfolio(name, descr)
	.col-lg-3.portfolio__col.flavor.all(class=name)
		.portfolio__wrap-img
			img(src='static/img/content/'+name+'.jpg' alt=name).portfolio__img
			.portfolio__more
				span.portfolio__more_title Trend and fashion
				if name == 'web'
					span.portfolio__more_descr Website design
				if name == 'mobile'
					span.portfolio__more_descr Mobile design
				if name == 'photograpy'
					span.portfolio__more_descr Photograpy design
				a(href="#img-"+name).portfolio__more_btn.popup-link
				

mixin images(src)
	.popup.mfp-hide(id='img-'+src)
		img(src='static/img/content/'+src+'.jpg').popup__img